
body {background-color: #000000;}
input[type=text]
 {
 background: #ffb000; 
 border-radius:5px; 
 -moz-border-radius:5px; 
 -webkit-border-radius:5px; 
 border:3px solid #ff7700;
 }
#button {
	position: fixed;
	top: 150px;
	left: 0;
	background: #0094d6;
	width: 20px;
	height: 50px;
	color: #fff;
	z-index: 5;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	}
#s_panel {
	position: fixed;
	top: 150px;
	left: -340px;
	background: #ff7700;
	width: 340px;
	height: 150px;
	padding: 10px 0 0 0;
	z-index: 5;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	}
#button:hover {
	left: -30px;
}
#button:hover #s_panel {
	left: 0;
}



/*
 * Windows 8 CSS Buttons
 *
 * @author: Francisco Neves
 */

/** Reset */
* { color: white;}


 	/** Buttons */
 	.w8-button { display: table; padding: 7px 15px 8px 15px; border: none; font-family: "open_sans_lightregular"; font-size: 13px; font-weight: bold; cursor: pointer; opacity: 0.9; -webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	}
 	.w8-button:hover, .w8-icon:hover { opacity: 1; }	
 	.w8-button:active, .w8-icon:active { color: white !important; background-color: #191919 !important; }

	.w8-button.red, .w8-icon.red { background-color: #d9522c; }
	.w8-button.green, .w8-icon.green { background-color: #009900; }
	.w8-button.pink, .w8-icon.pink { background-color: #ae193e; }
	.w8-button.d-blue, .w8-icon.d-blue { background-color: #0099ab; }
	.w8-button.yellow, .w8-icon.yellow { background-color: #fba919; }
	.w8-button.l-blue, .w8-icon.l-blue { background-color: #2d87ef; }
	.w8-button.violet, .w8-icon.violet { background-color: #5b39b6; }
	.w8-button.grey, .w8-icon.grey { background-color: #474747; }

	/** (UnComment if you don't like border) */
	/*.w8-button, .w8-icon { border: solid 2px white; }*/

	/** (Comment if you don't like border on hover) */
	.w8-button:hover { border-left: solid 3px white;}

/**
 *	==== Other Styles ====
 */
 	
 	ul.buttons { display: table; padding-right: 20px; margin: 20px auto; list-style: none; }
 	ul.buttons:last-child { padding-right: 0; }
 	ul.buttons li { float: left; margin-right: 12px; }
 	ul.buttons li:last-child { margin-right: 0; }

 	ul.buttons-icon { display: table; list-style: none; margin: 0px auto; }
 	ul.buttons-icon li { float: left; margin-right: 10px; }
 	ul.buttons-icon li:last-child { margin-right: 0; }

 	div#text { text-align: center; font-family: "open_sans_lightregular"; font-size: 52px; width: 600px; margin: 0 auto; margin-top: 50px; }
 	div#smalltext { text-align: right; font-family: "open_sans_lightregular"; font-size: 15px; width: 520px; margin: 0 auto; }
 	div#content { display: table; margin: 0 auto; padding: 30px; }