body
{
    color: #800;
    background: #ffe url('http://s.4cdn.org/image/fp/fade.png') top repeat-x;
}

img[name=img_preview]
{
    width: 300px;
    height: 100px;
}

input[type=text]
{
    width: 250px;
    margin-top: 3px;
    margin-right: 3px;

    border: 3px solid #f70;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #ffb000;
}

input[type=number]
{
    width: 250px;
    margin-top: 3px;
    margin-right: 3px;

    border: 3px solid #f70;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #ffb000;
}

#button
{
    position: fixed;
    z-index: 5;
    top: 150px;
    left: 0;

    width: 20px;
    height: 50px;

    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;

    color: #fff;
    border-radius: 0 5px 5px 0;
    background: #0094d6;
}

#button:hover
{
    left: -30px;
}

#button:hover #s_panel
{
    left: 0;
}

#s_panel
{
    position: fixed;
    z-index: 5;
    top: 150px;
    left: -600px;

    display: inline-block;

    padding: 10px 13px 13px 0;

    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;

    border-radius: 0 5px 5px 0;
    background: #f70;
}

*
{
    color: #fff;
}
