doctype html
html
    head
        title 4chan banner viewer
        meta(charset='UTF-8')
        script(src='js/gal.js')
        script(src='js/explanded_image/jquery_002.js')
        script(src='js/explanded_image/wakaba.js')
        script(src='js/explanded_image/loader.js')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        link(rel='shortcut icon', href='http://s.4cdn.org/image/favicon.ico')
    body
        #button
            span(style='padding-left:5px;') »
            #s_panel(style='background: rgba(255, 180, 0, 0.85);')
                .octobird-block(style='padding-left:9px;', data-nb='1')
                    input#URLaddress( type='text' onchange='reloadImages()', onkeypress='reloadImages()', oninput='reloadImages()' )
                    select#imageUrlMaskSelector(onchange='onSelectUrlMask()')
                    span(style='color:green;') Image URL mask
                    br
                    input#imageID(type='number', onchange='reloadImages()', onkeypress='reloadImages()', oninput='reloadImages()')
                    span(style='color:green;') Current Image ID
                    br
                    input#PicOnPage(type='number', onchange='createImageViews()', onkeypress='createImageViews()', oninput='createImageViews()')
                    span(style='color:green;') Images on page
                    br
                    input#Step(type='number', onchange='reloadImages()', onkeypress='reloadImages()', oninput='reloadImages()',style="display: none;" )
                    //span(style='color:green;') Step
        center#ImageList(style='line-height:0; /*убрать вертикальный отступы*/') no javaScript enabled
                // Поле для картинок
            br
        center
            img(src='img/left_arrow.jpg', onclick='left_arrow()')
            img(src='img/right_arrow.jpg', onclick='right_arrow()')
            progress#progress_bar(value='0', max='100', style='width:100%;')
        // <input type="text" value="move" id = "move" style="margin: 5px;" readonly/>
        script.
            document.onkeyup = key_detect;//Вкл нажатия клавиш
        style.
            .yise {
                width: 20px;
                height: 20px;
                background: #fdaaab;
                border-radius: 8px;
                border: 0px solid black;
                position: absolute;
                top: 0px;
                left: 0px;
                background: url('img/lenta-pattern.png');
            }


